@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Outfit", sans-serif !important;
    background-color: rgb(0, 0, 0) !important;
}
$secondary: gray;
$primary: #ffffff;
.main-btn {
    background-color: $secondary;
    outline: none;
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
        background-color: $primary;
        color: $secondary;
    }
}
.secondary-btn {
    outline: none;
    border: 1px solid $primary;
    color: $primary;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    &:hover {
        background-color: $secondary;
        color: white;
    }
}
.portfolio-wrapper {
    .side-bar {
        position: relative;
        .side-navbar {
            position: fixed;
            height: 100vh;
            border-right: 1px solid rgba(128, 128, 128, 0.473);
            left: 0;
            top: 0;
            width: 320px;
            background-color: #000000;
            text-align: center;
            .navbar-toggler {
                background-color: #a5a6ff;
                padding: 10px 10px;
                color: white;
                outline: none;
            }
            .nav-item {
                a{
                    color: $secondary;
                    &:hover{
                        color: $primary !important;
                    }
                }
                .active {
                    color: $primary !important;
                }
            }
            .profile-img {
                width: 100px;
                height: 100px;
                margin: 30px auto 0 auto;
                border-radius: 100%;
                border: 2px solid $primary;
                overflow: hidden;
                // img{
                //     height: 100%;
                // }
            }
            .name {
                margin-top: 10px;
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $primary;
                line-height: 1;
                span {
                    font-size: 0.9rem;
                }
            }
            .social-media {
                a {
                    background-color: $primary;
                    padding: 6px;
                    width: 35px;
                    border-radius: 100px;
                    color: #000000;
                    display: inline-block;
                    text-align: center;
                    margin: 0 7px;
                    &:hover {
                        background-color: $secondary;
                        color: $primary !important;
                    }
                }
            }
        }
    }
}
.wrapper-content {
    margin-top: 8%;
    .heading{
        h2{
            color: $primary;
        }
        .breadcrumb{
            a{
                color: $primary;
            }
        }
    }
    .introduction {
        h1 {
            color: $primary;
            font-weight: 700;
            span {
                color: $secondary;
            }
        }
        h3 {
            color: $primary;
            font-size: 1.5rem;
        }
        .ser-info {
            margin-top: 20px;
            text-align: justify;
            color: $secondary;
        }
    }
    .contact-info {
        border-left: 5px solid $secondary;
        padding: 10px 20px;
        p {
            color: $primary;
        }
    }
    .profile-img {
        height: 300px;
        width: 300px;
        overflow: hidden;
        border: 3px solid $secondary;
        border-radius: 100%;
        padding: 10px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }
    .publication-box {
        background-color: white;
        border-radius: 10px;
        .date {
            background-color: $secondary;
            padding: 2px 20px;
            width: max-content;
            color: white;
            border-radius: 5px;
            font-size: 0.8rem;
            font-weight: 700;
        }
        a {
            color: $secondary;
        }
    }
    .intrest-items {
        .intrest-box {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 15px;
            i {
                font-size: 40px;
                margin-bottom: 20px;
                color: $secondary;
            }
            a {
                color: #000000 !important;
                text-decoration: none;
            }
            p {
                color: gray;
            }
        }
    }
    .qualification-box {
        background-color: white;
        border-radius: 10px;
        .date {
            background-color: $secondary;
            padding: 2px 20px;
            width: max-content;
            color: white;
            border-radius: 5px;
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
    // .contact-page{
    //     .contact-box{
    //         background-color: $secondary;
    //         text-align: center;
    //         padding: 20px;
    //         border-radius: 15px;
    //         color: white;
    //         i{
    //             font-size: 25px;
    //             color: #ffffff;
    //             margin-bottom: 10px;
    //         }
    //     }
    //     .contact-form{
    //         label{
    //             transition: 0.4s all;
    //         }
    //         .form-control{
    //             &:focus{
    //                 box-shadow: none;
    //                 border: 2px solid $secondary;
    //             }
    //         }
    //     }
    //     .map{
    //         border: 1px solid $secondary;
    //         padding: 10px;
    //         background-color: #ffffff;
    //     }
    // }
    .project-items {
        .project-box {
            background-color: #ffffff;
            padding: 15px;
            border-radius: 15px;
            margin-bottom: 25px;
            &:hover {
                background-color: $secondary;
                i {
                    color: $primary;
                }
                .lower-txt {
                    color: $primary;
                }
            }
            .project-img {
                border-radius: 15px;
                overflow: hidden;
            }
            .lower-txt {
                a {
                    color: $secondary;
                    i {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .gallery-items {
        background-color: #ffffff;
        border-radius: 15px;
        padding: 15px;
        .gallery-img {
            border-radius: 15px;
            overflow: hidden;
            img {
                height: 100%;
            }
        }
    }
    .gallery-video {
        .gallery-img {
            position: relative;
        }
    }
}

@media (min-width: 320px) and (max-width: 992px) {
    .portfolio-wrapper .side-bar .side-navbar {
        height: auto;
        position: relative;
        width: 100%;
    }
    .wrapper-content .publication-box a {
        font-size: 0.8rem;
    }
}
.post {
    text-align: justify;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #80808040;
    h5 {
        color: $primary;
    }

    .more {
        display: none;
    }

    .post:not(:last-child) {
        margin-bottom: 30px;
    }
    button {
        margin-top: 8px;
        display: block;
        background-color: $secondary;
        color: white;
        border: none;
        outline: none;
        padding: 3px 8px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
    }
}
.skills {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2509803922);
    h5 {
        color: $primary;
    }
    .more-text {
        margin-top: 33px;
    }
}
.organization {
    border-left: 5px solid $primary;
    padding-left: 40px;
    p {
        position: relative;
        
        i {
            position: absolute;
            left: -66px;
            top: 50%;
            padding: 10px;
            font-weight: bold;
            border: 5px solid #f8f8fe;
            border-radius: 100px;
            transform: translate(0%, -50%);
            font-size: 1rem;
            color: #fff;
            background-color: #000;
        }
    }
}
.qoute{
    background-color: $secondary;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 20px;
}
